@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');@import "tailwindcss";

* {
    box-sizing: border-box;
}



body {
    font-family: "Nunito", "Arial", sans-serif;
}

hr {
    border: 0.0625rem solid var(--color-gray-400);
}

:root::-webkit-scrollbar {
    display: none;
}

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;
}